@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap");
/* ----------------------------------------------*\
    UTILS -> #VARIABLES
\*-----------------------------------------------*/
/* ----------------------------------------------*\
    UTILS -> #FUNCTIONS
\*-----------------------------------------------*/
/* ----------------------------------------------*\
    UTILS -> #MIXINS
\*-----------------------------------------------*/
/* ----------------------------------------------*\
    BASE -> #BASE
\*-----------------------------------------------*/
html {
  font-size: 62.5%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 100%;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  background: #0d192b;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: "Outfit", sans-serif;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  font-size: 1.8rem;
  min-height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 1.5rem;
}

.grid {
  width: 75%;
  min-width: 33rem;
  display: -ms-grid;
  display: grid;
  gap: 2rem;
  -ms-grid-columns: (minmax(325px, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(325px, 1fr));
  grid-auto-flow: dense;
  justify-items: center;
}

/* ----------------------------------------------*\
    COMPONENTS -> #AVATAR
\*-----------------------------------------------*/
.avatar {
  border: solid white 0.2rem;
  border-radius: 999px;
  width: 100%;
}

/* ----------------------------------------------*\
    COMPONENTS -> #CARD
\*-----------------------------------------------*/
.card {
  background-color: #14253d;
  border-radius: 1rem;
  -webkit-box-shadow: 0 10px 75px rgba(0, 0, 0, 0.233);
          box-shadow: 0 10px 75px rgba(0, 0, 0, 0.233);
  padding: 2rem;
  max-width: 33rem;
}

.cardImg-wrap {
  position: relative;
  cursor: pointer;
}

.cardImg-wrap:hover .card__imgHover {
  opacity: 1;
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
}

.card__imgHover {
  background: url("../images/icon-view.svg") no-repeat center, -webkit-gradient(linear, left top, left bottom, from(rgba(0, 255, 247, 0.473)), to(rgba(0, 255, 247, 0.473)));
  background: url("../images/icon-view.svg") no-repeat center, linear-gradient(rgba(0, 255, 247, 0.473), rgba(0, 255, 247, 0.473));
  border-radius: 1rem;
  inset: 0;
  opacity: 0;
  position: absolute;
}

.card__img {
  border-radius: 1rem;
  display: block;
  width: 100%;
  height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
}

.card__title {
  color: white;
  cursor: pointer;
  font-size: 2rem;
  margin-top: 1.5rem;
}

.card__title:hover {
  color: #00fff7;
}

.card__info {
  color: #8bacda;
  font-size: 1.8rem;
  margin-top: 1.5rem;
}

.cardPrice-wrap {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 2rem 0;
}

.card__price {
  color: #00fff7;
  font-size: 1.6rem;
  font-weight: 600;
}

.card__price::before {
  content: url("../images/icon-ethereum.svg");
  position: relative;
  top: 0.25rem;
  margin-right: 0.5rem;
}

.card__duration {
  color: #8bacda;
  font-size: 1.6rem;
}

.card__duration::before {
  content: url("../images/icon-clock.svg");
  position: relative;
  top: 0.25rem;
  margin-right: 0.5rem;
}

.cardAuthor-wrap {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-top: 0.1rem solid #2f415b;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 1.5rem 0;
}

.card__avatar {
  width: 3.5rem;
}

.card__author {
  color: #8bacda;
  margin-left: 1.5rem;
  font-size: 1.6rem;
  font-weight: 600;
}

.card__name {
  color: white;
  cursor: pointer;
}

.card__name:hover {
  color: #00fff7;
}

/* ----------------------------------------------*\
    COMPONENTS -> #LIGHTBOX
\*-----------------------------------------------*/
.lightbox {
  position: fixed;
  inset: 0;
  background: #070c13;
  display: none;
}

.lightbox.--is-active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.lightbox__img {
  width: 600px;
  height: 600px;
  background-size: cover;
  background-position: center;
}

.lightbox__closeBtn {
  color: white;
  cursor: pointer;
}

.lightbox__closeBtn:hover {
  color: #00fff7;
}

@media only screen and (max-width: 650px) {
  .lightbox__img {
    width: 325px;
    height: 400px;
  }
}
/*# sourceMappingURL=main.css.map */