/* ----------------------------------------------*\
    COMPONENTS -> #AVATAR
\*-----------------------------------------------*/

.avatar {
    border: solid white 0.2rem;
    border-radius: 999px;
    width: 100%;
}
